// Here you can add other styles
.commanBtn {
    background: #ff4d67;
    border: 0px;
    // border-color: #FD788C;
}
.commanBtn:hover { background:#ff4d67}
.error-msg{
    color: red;
}
.success-msg {
    color: green;
    font-weight: 400;
  }

.editIcon{
    margin-right: 10px;
    padding:5px;
    font-size: 40px;
    border:1px solid black ;
    // border-width:1px;
    border-radius:5px; 
    color: green;
    width: 1.5em;
    height: 1.5em;
}

.deleteIcon{
    margin-right: 10px;
    color: #6E260E;
    padding:3px;
    font-size: 40px;
    border:1px solid black ;
    border-width:1px;
    border-radius:5px;

}
.login-page{
    background-image: url("../assets/images/banner.jpg");
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-update{
    width:40px;
    height:50px;
}

.generalBtn{
         position: absolute;
          top: 90;
          right: 50;
          border-radius: 1;
          font-weight: bold;
          margin-bottom: 10px;
          background-color: #ff4d67;
}

.theme-btn{
    background-color: #ff4d67;
}

